@import '/styles/variables';

.wrapper {
   position: relative;
   text-transform: uppercase;
   border: 2px solid $color-second;
   padding: 0.4rem 1rem;
   font-size: 0.875rem;
   font-family: $font-1-bold;
   border-radius: 0.32rem;
   cursor: pointer;
   min-width: 7rem;
   transition: background 0.3s, color 0.3s;
   &[data-type='filled'] {
      color: #fff;
      background-color: $color-second;
      &:hover {
         background-color: #fff;
         color: $color-second;
      }
   }
   &[data-type='unfilled'] {
      color: $color-second;
      background-color: #fff;
      &:hover {
         background-color: $color-second;
         color: #fff;
      }
   }
}
